
packages:
  yum:
    mysql: []
    
container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: ebdjango.settings
      DB_HOST: rds.example.com
      DB_USERNAME: placeholder
      DB_PASSWORD: placeholder
      DB_PORT: 3306
      SENTRY_DSN: placeholder
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "static/"
